a > .navbar-brand {
  padding: 0;
  margin: 0;
}

.navbar-nav .nav-link {
  font-size: 1rem;
}

.nav-link {
  margin-left: 1rem;
}

h2 {
  color: #b3ecff;
  margin-bottom: 0;
  padding: 0;
}

.home-intro-mar {
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.paragraph-home-intro {
  color: whitesmoke;
  font-size: 1.1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.h1-from-home {
  color: #b3ecff;
  padding-bottom: 1rem;
  font-size: 3rem;
}

.jad-clg {
  color: #b3ecff;
}

.bg-dark {
  background-color: #111418;
}

.skill-containers {
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 0rem;
  padding-bottom: 3rem;
}

.skill-heading {
  color: #b3ecff;
  padding-bottom: 1rem;
  font-size: 3rem;
}

div > .card-containers {
  padding-top: 2rem;
  padding-bottom: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
div > .card-body {
  padding-top: 0px;
  height: auto;
}

.skill-name {
  color: #b3ecff;
  padding-bottom: 1.2rem;
  padding-top: 1.2rem;
  margin: 0;
  font-size: 1.5rem;
}

.card-imgs {
  border-radius: 15px;
  width: 100%;
  height: auto;
  /* padding: 10px; */
}

.skill-card {
  background: #343a40 !important;
  border-radius: 0.8rem;
  margin: 0.5rem;
  padding: 0.4rem;
  display: grid;
  grid-template-columns: 0.5fr 1fr;
}

.para-card {
  color: whitesmoke;
  font-size: 0.8rem;
}

.project-containers {
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 0rem;
  padding-bottom: 3rem;
}
.project-heading {
  color: #b3ecff;
  padding-bottom: 1rem;
  font-size: 3rem;
}
.project-card {
  background: #343a40 !important;
  border-radius: 0.8rem;
  margin: 0.5rem;
  padding: 0.4rem;
}
.github {
  margin-right: 2rem;
}
.deploy {
  margin-left: 0.2rem;
}

.project-card-body {
  height: auto;
  padding-top: 0.8rem;
  padding-left: 0.8rem;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
}

.card-imgs-company {
  border-radius: 15px;
  width: 100%;
  height: auto;
}

.experience-containers {
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 0rem;
  padding-bottom: 5rem;
}
.exp-date {
  color: #686c66;
  font-size: 1rem;
}

.location {
  height: 1.3rem;
  margin-right: 0.5rem;
}

.location-text {
  color: #bcbbbd;
  font-size: 1.2rem;
}

/* Contact info here */

.col-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 5px;
}

/* .img-logo {
  height: 3rem;
  width: 3rem;
} */

.contact-container {
  padding: 3rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.col-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 2rem;
}

.form-input {
  width: 100%;
  height: auto;
}

.input-field {
  width: 100%;
  display: flex;
}

.input-space1 {
  width: 50%;
  margin-right: 0.5rem;
  padding: 0.5rem;
  border: none;
  border-radius: 1rem;
  background: #343a40;
  color: #b3ecff;
  height: 2rem;
  font-size: 0.8rem;
}

.input-space2 {
  width: 50%;
  padding: 0.5rem;
  border: none;
  border-radius: 1rem;
  background: #343a40;
  height: 2rem;
  font-size: 0.8rem;
  color: #b3ecff;
}
.text-input {
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
  padding: 0.7rem;
  width: 100%;
  height: 5rem;
  border-radius: 1rem;
  background: #343a40;
  font-size: 0.8rem;
  border: none;
  color: #b3ecff;
}

/*  footers from here bro!*/

.footer-app {
  font-size: 1rem;
  font-weight: bolder;
  background: #343a40;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  display: flex;
  justify-content: center;
  color: #b3ecff6e;
}

.span-footer {
  color: red;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

/* submit button */
.submit-button {
  width: 100%;
  border: none;
  border-radius: 1rem;
  height: 2rem;
  background-color: #343a40;
  color: #b3ecff6e;
}

::placeholder {
  color: #b3ecff6e;
  opacity: 1; /* Firefox */
  padding-left: 1rem;
}

@media only screen and (max-width: 700px) {
  .h1-from-home {
    font-size: 2.5rem;
  }

  .skill-heading {
    font-size: 2.5rem;
  }
  .home-intro-mar {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .paragraph-home-intro {
    color: whitesmoke;
    font-size: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .skill-containers {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0rem;
    padding-bottom: 3rem;
  }

  .project-containers {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0rem;
    padding-bottom: 3rem;
  }
  .experience-containers {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0rem;
    padding-bottom: 5rem;
  }
  div > .card-containers {
    padding-top: 2rem;
    padding-bottom: 3rem;
    display: grid;
    grid-template-columns: 1fr;
  }
  .contact-container {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
  }
  .col-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-bottom: 2rem;
  }
}
